* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #000;
	color: #ccc;
	font-family: sans-serif;
}

p {
	margin-top: 3em;
}

a:link, a:visited {
	color: #08a;
	text-decoration: none;
}

a:hover {
	color: #0af;
	text-decoration: underline;
}

h2 {
	margin: 20px 0 5px;
}

div#content {
	width: 1000px;
	margin: 50px auto;
	background-color: #111;
	padding: 50px;
}

table tr:nth-child(even) {
	background-color: #222;
}
table td {
	padding: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
table td.right {
	text-align: right;
}
table th.graph {
	width: 500px;
}

div.bar {
	display: inline-block;
	height: 1em;
	background-color: #888;
}
div.bar.filler {
	background-color: #333;
}
div.bar.filler.header {
	width: 400px;
}

a.github {
	font-family: monospace;
}

div#simulation div.line {
    margin: 0.5em 0;
}
div#simulation div.line div.username {
    display: inline-block;
    margin-right: 5px;
    color: #7ac;
    font-weight: bold;
}
