* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #000;
	color: #ccc;
	font-family: sans-serif;
}

p {
	margin-top: 3em;
}

a:link, a:visited {
	color: #08a;
	text-decoration: none;
}

a:hover {
	color: #0af;
	text-decoration: underline;
}

h2 {
	margin: 20px 0 5px;
}

div#content {
	width: 1000px;
	margin: 50px auto;
	background-color: #111;
	padding: 50px;
}

form {
	margin-top: 2em;
	display: grid;
	grid-template-columns: 75px auto;
	row-gap: 0.5em;
	align-items: center;
}

a.github {
	font-family: monospace;
}

div#simulation div.line {
    margin: 0.5em 0;
}
div#simulation div.line div.username {
    display: inline-block;
    margin-right: 5px;
    color: #7ac;
    font-weight: bold;
}
