{% extends 'base.html' %}

{% block title %}discord &ndash; {{ guild.name }}{% endblock title %}

{% block head %}
	<link rel="stylesheet" href="/static/dropdown.css">
{% endblock head %}

{% block scripts %}
	<script src="/static/ddd.js" type="module"></script>
	<script src="/static/message_graph.js" type="module"></script>
{% endblock scripts %}

{% block content %}
	<h1><a href="/">discord</a> &ndash; {{ guild.name }}</h1>

	{% if guild.guild_id != 181866934353133570 %}
		<a href="markov">markov simulation</a>
	{% endif %}

	<form>
		channel: <div id="channel"></div>
		user: <div id="user"></div>
		dates: <date-picker id="dates"></date-picker>
		channel: <lit-dropdown id="channel_dropdown"></lit-dropdown>
		user: <lit-dropdown id="user_dropdown"></lit-dropdown>
	</form>

	<h2>by month:</h2>
	<message-graph name="month" id="month_graph"></message-graph>

	<h2>by hour (UTC):</h2>
	<message-graph name="hour" id="hour_graph"></message-graph>

	<h2>by user:</h2>
	<message-graph name="user" id="user_graph" percentageColumn cumulative></message-graph>

	<h2>by channel:</h2>
	<message-graph name="channel" id="channel_graph" percentageColumn></message-graph>
{% endblock content %}
