<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>discord - programming</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div id="content">
		<h1>discord - programming</h1>

		<form>
			channel: <select id="channel">
				<option value="">[all]</option>
			</select>
			user: <select id="user">
				<option value="">[all]</option>
			</select>
		</form>

		<h2>by month:</h2>
		<table id="by_month">
			<th>month</th>
			<th>messages</th>
			<th></th>
		</table>

		<h2>by hour (UTC):</h2>
		<table id="by_hour">
			<th>hour</th>
			<th>messages</th>
			<th></th>
		</table>

		<h2>by user:</h2>
		<table id="by_user">
			<th>rank</th>
			<th>user</th>
			<th>messages</th>
			<th>percentage</th>
			<th><div class="bar filler" style="width: 500px"></div></th>
			<th></th>
		</table>

		<h2>by channel:</h2>
		<table id="by_channel">
			<th>rank</th>
			<th>user</th>
			<th>messages</th>
			<th>percentage</th>
			<th></th>
		</table>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/mootools/1.6.0/mootools-core.js"></script>
	<script src="/static/ddd.js"></script>
</body>
</html>
