# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - uses: astral-sh/setup-uv@v6 # https://docs.astral.sh/uv/guides/integration/github
      with:
        enable-cache: true

    - run: uv sync

    - run: uv run ruff check --output-format=github

    - uses: oven-sh/setup-bun@v2

    - run: bun install --frozen-lockfile

    - run: bun run tsc

    - run: bun x eslint .
